# Day1 Numbers

In [4]:
base = 10
height = 7.5

In [5]:
type(base)

int

In [6]:
type(height)

float

In [7]:
area = (1/2) * base * height 
area

37.5

In [8]:
10/3

3.3333333333333335

In [9]:
10//3

3

In [10]:
17%3 # Modulus Operator

2

In [12]:
3**3 # 3 Square 3

27

In [13]:
#NOTE:
# Order of Precedence is () ,

In [15]:
10+(2*7)

24

In [16]:
(10+2)*7

84

In [17]:
foo=2.3e4 # is = 2.3 x 10^4 (+ve Exponential)
foo

23000.0

In [19]:
bar=2.3e-4 # = 2.3 x 10^-4 (-ve Exponential)
bar

0.00023

In [20]:
food = 120.34
rent = 500.6
utilities = 300.5

In [21]:
total = food+rent+utilities
total

921.44

In [22]:
round(total) # rounds off thereby removing the decimal

921

In [23]:
income = 10000
expenses = 9000
savings = income - expenses
savings

1000

In [25]:
format(9,'b') # Binary No of 5

'1001'

In [28]:
a= 1.2e3
print(a)
print(type(a))

1200.0
<class 'float'>

In [29]:
# Number Excercise

In [30]:
#1. Remember the format() function we used in the last video?? Now pass 145 and ‘o’ in the function and see what it returns. Try to find out which representation it is.

format(145,'o') # 'o' Gives the Octal representation of 145

'221'

In [38]:
#2. There is a circular pond in a village. This pond has a radius of 84 meters. Can you find the area of the pond? (Bonus: If there is exactly 1.4 liter of water in a square meter, what is the total amount of water in the pond?)

rad = 84
pi = 22/7

Circle_Area= pi* rad**2
Circle_Area

22176.0

In [40]:
per_meter_sq = 1.4
total_water = Circle_Area * per_meter_sq
print(total_water)

31046.399999999998

In [35]:
#3. If you cross a 490-meter-long street in 7 minutes, then what is your speed in meters per second? Print your answer without any decimal point in it.

dist = 490
time = 7 * 60 # (7mins x 60 sec)

speed = dist/time
speed

1.1666666666666667

In [36]:
round(speed)

1