# Day 2 Dictionaries & Tuples

In [1]:
expenses = [1200,1400,1700] # This is an list

In [2]:
#NOTE 

# List - []
# Tuples - () 
# Dictionaries - {}

# Difference between list and Tuple - Tuples are Immutable ie., we can change the values/elements in a tuple
# But list is mutable ie., it is changable
# Python list is an Dynamic array - Memory manaagement is little expensive
# Tuples can be 3 dimensionsal 
# Dictionary has key-value pair

In [4]:
#Write a Function to find Price to Earning Ratio & Price to Book Value Ratio of a Company Stock 

def find_pe_and_pb(price,eps,book_value):
    pe = price/eps # - pe -> pe_ratio
    pb = price/book_value # - pb -> pb_ratio
    return pe,pb

In [5]:
pe_ratio,pb_ratio = find_pe_and_pb(100,2,4)

In [6]:
pe_ratio

50.0

In [7]:
pb_ratio

25.0

In [9]:
contacts = [('rachel',888777111),('monica',312327398),('joey',999932323)] # This is using tuples and list

In [10]:
for contact in contacts:
    if contact[0]=='joey':
        print(contact[1])

999932323

In [11]:
# BigO(n) - Order of n

In [13]:
# but the better way of such data ... it is better to use dictionaries

d = {
    'rachel':888777111,
    'monica':312327398,
    'joey':999932323
} 

d

{'rachel': 888777111, 'monica': 312327398, 'joey': 999932323}

In [16]:
d['monica'] # When we enter the KEY is returns its pair value as O/P

312327398

In [18]:
# Dictionaries is Python uses Hash Map Data Structures

In [19]:
d['mohan'] # if we enter an element which is not in dictioanry it will throw an exception

KeyError: 'mohan'

In [20]:
# to avoid this we use .get() funciton

d.get('mohan') # is the value is not there is will return None value

In [21]:
d['rachel'] = 27918378921 # to change the value of an element

In [22]:
d

{'rachel': 27918378921, 'monica': 312327398, 'joey': 999932323}

In [23]:
d['sathya'] = 29138902381 # To add new element

In [24]:
d

{'rachel': 27918378921,
 'monica': 312327398,
 'joey': 999932323,
 'sathya': 29138902381}

In [25]:
del d['sathya'] # to delete an element
d

{'rachel': 27918378921, 'monica': 312327398, 'joey': 999932323}

In [26]:
'rachel' in d

True

In [27]:
'prakash' in d

False

In [30]:
# We can have dictionaries inside Dictionaries

d = {
    'rachel':{'phone':329108390,'address':'1 blue street' },
    'monica':{'phone':234798237,'address':'boulevard' },
    'joey':{'phone':29809234,'address':'Gandhipuram '}
}

In [31]:
d['joey']['address'] # to access the elements

'Gandhipuram '

In [33]:
d = {
    'rachel':888777111,
    'monica':312327398,
    'joey':999932323
} 
d

{'rachel': 888777111, 'monica': 312327398, 'joey': 999932323}

In [35]:
for name in d:
    print(name)
    print(d[name])

rachel
888777111
monica
312327398
joey
999932323

In [36]:
for name in d:
    print(name,d[name])

rachel 888777111
monica 312327398
joey 999932323

In [37]:
for name,number in d.items():
    print(name,number)

rachel 888777111
monica 312327398
joey 999932323

In [38]:
dir(d) # All the Functions related to Dictionaries

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [39]:
d

{'rachel': 888777111, 'monica': 312327398, 'joey': 999932323}

In [41]:
d.keys() # Only returns the Keys

dict_keys(['rachel', 'monica', 'joey'])

In [42]:
d.values() # Only Returns the Values

dict_values([888777111, 312327398, 999932323])

In [44]:
d = {'Luke': 1994, 'Boba': 1989, 'Kyle': 1998, 'Hann': 1993}
print(d['Boba' : 'Kyle'])

TypeError: unhashable type: 'slice'

In [45]:
d.items()

dict_items([('Luke', 1994), ('Boba', 1989), ('Kyle', 1998), ('Hann', 1993)])

# Dictionaries & Tuples Excercise

In [51]:
#1. Create a list of your friends' names and now create a list of tuples. The tuple should contain the friend’s name and the length of the name. For Example: if someone’s name is Aditya, the tuple would be: (‘Aditya’, 6)

name = ['Prakash','prem','arun','anand','rubin']
name

['Prakash', 'prem', 'arun', 'anand', 'rubin']

In [53]:
Name_size = {
    'Prakash':7,
    'prem':4,
    'arun':4,
    'anand':5,
    'rubin':5
} 
print(Name_size)

Name_size['Prakash']

{'Prakash': 7, 'prem': 4, 'arun': 4, 'anand': 5, 'rubin': 5}

7

In [ ]:
"""
2.You and your wife argued about expenses last night. You both want to know who is spending more in a month. Now you both go to the Little Yoda he is a good python programmer. He suggested that both of you add an entry in a dictionary next time you spend money. So that you can have a clear picture of your expenses and plan to reduce them. Both dictionaries are as below-
Your expenses -

Clothes - 1100
Shoes - 1000
Watch - 900
Mobile Recharge - 699
Petrol - 1980
Your Wife’s expenses -

Mobile Recharge - 799
DTH recharge - 999
Clothes - 2310
Makeup - 3670
Shoes - 999
"""

In [55]:
# Find out the total expenses for each of you.

Expenses = {
    'Clothes':1100,
    'Shoes':1000,
    'Watch':900,
    'Mobile Recharge':699,
    'Petrol':1980,
} 

Wifes_expenses = {
    'Mobile Recharge':799,
    'DTH Recharge':999,
    'Clothes':2310,
    'Makeup':3670,
    'Shoes':999,
}

In [56]:
Expenses

{'Clothes': 1100,
 'Shoes': 1000,
 'Watch': 900,
 'Mobile Recharge': 699,
 'Petrol': 1980}

In [57]:
Wifes_expenses

{'Mobile Recharge': 799,
 'DTH Recharge': 999,
 'Clothes': 2310,
 'Makeup': 3670,
 'Shoes': 999}

In [66]:
lst1=Expenses.values()
Total_myexpense = sum(lst1)
Total_myexpense

5679

In [68]:
lst2=Wifes_expenses.values()
Total_myexpense = sum(lst2)
Total_myexpense

8777

In [69]:
# Find out who spending more

# WIFE's Expense is more and she is SPENDINGGGGG MOREEEE

In [79]:
# Find out which thing you and your wife spending more

Exp_thing = max(Expenses)
Exp_thing

'Watch'

In [80]:
Exp_wifething = max(Wifes_expenses)
Exp_wifething

'Shoes'